*{
    padding: 0;
    margin: 0;
}

body{
    background-image: linear-gradient(to right bottom, #4ea8de,#03071e );   
}

.continer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-continer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #03071e;
    width: 250px;
    padding: 20px;
    color: #fff;
    border-radius: 12px;
}
form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.input{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

i{  
    position: absolute;
    left: -20px;
}

.ic1{
    font-size: larger;
}

.ic2{
    font-size: x-large;
}

h2{
    color: #fff;
    margin: 20px;
}

input{
    margin: 10px;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 2px;
}

input:focus{
    box-shadow: 0px 0px 20px 8px #4ea8de;
}

button{
    text-align: center;
    padding: 8px 20px;
    border-radius: 30px;
    margin-top: 8px;
    margin-bottom: 10px;
    border: none;
    outline: none;
    color: #fff;
    background-image: linear-gradient(to right bottom, #4ea8de,#03071e );   
    transition: .6s ease-in;
}

button:hover{
    background-image: linear-gradient(to left top, #4ea8de,#03071e );   
}

p{
    font-size: 13px;
    text-align: center;
}

@media only screen and (min-width: 500px){
    .form-continer{
        width: 290px;
    }

}